@font-face {
	font-family: "Cormorant";
	src: url("../fonts/Cormorant-SemiBold.woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Cormorant Infant";
	src: url("../fonts/CormorantInfant-SemiBold.woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Cormorant";
	src: url("../fonts/Cormorant-Medium.woff2");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Montserrat Alternates";
	src: url("../fonts/MontserratAlternates-Medium.woff2");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Cormorant";
	src: url("../fonts/Cormorant-Regular.woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat Alternates";
	src: url("../fonts/MontserratAlternates-Regular.woff2");
	font-style: normal;
	font-weight: 400;
}
